@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Glömt lösenordsbekräftelsen</PageTitle>

<h1>Glömt lösenordsbekräftelsen</h1>
<p>
    Kontrollera din e-post för att återställa ditt lösenord.
</p>
