@page "/Account/Lockout"

<PageTitle>Loggat ut</PageTitle>

<header>
    <h1 class="text-danger">Loggat ut</h1>
    <p class="text-danger">Det här kontot har loggat ut, försök igen senare.</p>
</header>
