@page "/ImportsInterestRates"

@using MyPrivateApp.Client.ViewModels
@using MyPrivateApp.Components.Enum
@using MyPrivateApp.Data
@using MyPrivateApp.Data.Models
@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveServer

@inject ApplicationDbContext db;
@inject NavigationManager Navigation

<PageTitle> Aktier </PageTitle>

<br />

<div align="center">
    <div style="text-align:center" class="btn-group" role="group" aria-label="Basic outlined example">
        <NavLink href="Shares" type="button" class="btn btn-outline-dark btn-sm"> Start </NavLink>
        <NavLink href="Imports" type="button" class="btn btn-outline-dark btn-sm"> Importera </NavLink>
        <NavLink href="ImportsDepositMoney" type="button" class="btn btn-outline-dark btn-sm"> Pengar </NavLink>
        <NavLink href="ImportsInterestRates" type="button" class="btn btn-outline-dark btn-sm"> Räntor </NavLink>
        <NavLink href="OtherImports" type="button" class="btn btn-outline-dark btn-sm"> Manuell </NavLink>
        <NavLink href="ImportsErrorHandling" type="button" class="btn btn-outline-dark btn-sm">Fel</NavLink>
    </div>
</div>

<br />
<br />

<h1 style="text-align:center"> Räntor </h1>



@code {

}
