<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="32768" maxUrl="32768" />
			</requestFiltering>
		</security>

		<rewrite>
			<rules>
				<!-- Catch redirect loops and reset to home -->
				<rule name="Prevent ReturnUrl Loop" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="(returnUrl=.*){3,}" />
					</conditions>
					<action type="Redirect" url="/" redirectType="Temporary" />
				</rule>

				<!-- Prevent excessively long query strings -->
				<rule name="Block Long QueryStrings" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{QUERY_STRING}" pattern=".{500,}" />
					</conditions>
					<action type="Redirect" url="/" redirectType="Temporary" />
				</rule>
			</rules>
		</rewrite>

		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet"
					arguments=".\MyPrivateApp.dll"
					stdoutLogEnabled="false"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess" />
	</system.webServer>
</configuration>