@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<AuthorizeView>
    <Authorized>
        <p>You are successfully logged in!</p>
        <p>Hello, @context.User.Identity?.Name!</p>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
        <a class="btn btn-primary" href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>