@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>Godkänd inloggning</h1>

<AuthorizeView>
    Hej @context.User.Identity?.Name!
</AuthorizeView>
