@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>Godkänd inloggning</h1>

<AuthorizeView>
    <Authorized>
        Hej @context.User.Identity?.Name!
    </Authorized>
</AuthorizeView>
